<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Education</h3>
                    <p class="text-muted"><strong>University of Florida</strong></p>
                    <p class="text-muted">- Masters in Information Systems and Operations Management</p>
                    <p class="text-muted">- Bachelors in Economics</p>
                    <p class="text-muted">- Minor in Entrepreneurship</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Technical</h3>
                    <p class="text-muted">Experience developing with newer technologies like RPA bots, 
                        Alexa skills, and AWS cloud services such as Lambda, RDS, and SageMaker. Have 
                        also worked with traditional technologies such as Python, JavaScript, HTML, and Postgres.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Soft Skills</h3>
                    <p class="text-muted">Collaborated with international teams from across 8 countries, have led 
                        agile teams, experience using project management tools such as Rally & Trello, and 
                        also speak fluent Spanish .</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Other Skills/Interests </h3>
                    <p class="text-muted">Photography, drones, improv, guitar, fitness, soccer, podcasts, craft beers </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="light">
                    <!-- <a href="#" class="btn btn-default btn-xl"></a> -->
                    <a href="#about" class="btn btn-primary btn-xl page-scroll">View Résumé</a>
                </div>
            </div>
        </div>
    </div>
</section>
